
 .header-transparent {
    z-index: 999;
}

.header-transparent {
    position: absolute;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 60px;
}

a.light-purple {
    color: #337ab7;
}

.header-section {
    float: left;
    position: relative;
    width: 100%;
    z-index: 99999;
    top: 0 !important;
}

.list-item li {

    list-style: disc;
    padding: 6px 0;
    color: #000;

}

.ol-item li{
    list-style: decimal !important;
    color: #000;
}

.kyc-middel-text p {
    color: #777 !important;
    text-align: center;
}


.kyc-bottom {
    text-align: center;
}

.kyc-bottom p {
    color: #999 !important;
}

ul.list-item {
    padding-left: 30px;
}

*::before, *::after, a, button, span, input, textarea, .btn {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
}
body {
    /* background: #fff; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
}

p.signup {
    font-size: 14px;
    color: #777;
    margin: 0px;
    /* padding-bottom: 0px !important; */
}

.header-logo {
    padding: 0px 0;
    max-width: 150px;
}

.header-logo a.white-logo {
    display: block;
}

.header-logo a {
    display: inline-block;
    color: white;
    font-size: 18px;
}

.walmart {
    margin-left: 10px;
}

.giftcards-container {
    float: right;
    border-left: 1px solid #98999a;
    padding-top: 20px;
    padding-bottom: 50px;
}


.nopadding {
    padding: 0!important;
}

.giftcards-container-sidebar {
    padding-top: 20px;
}
.copyright .lh-title, .copyright .lh-title a {
    margin-bottom: 0;
    color: #333;
}


.giftcards-table {
    width: 100%;
    margin-top: 15px;
}

.giftcards-table th {
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #98999a;
}

.giftcards-table th {
    font-weight: 500;
    background-color: #f6f8f7;
    line-height: 30px;
    font-size: 15px;
}

.giftcards-table .img-preview {
    width: 80px;
    margin: 10px 0;
}
.giftcards-table td .btn-tier {
    background-image: linear-gradient(to right top, #5795c1, #4182bb, #326eb3, #2e59a9, #35439b);
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding: 4px 10px;
}
.giftcards-table td, .giftcards-table th {
    text-transform: capitalize;
}
.giftcards-table .bordered {
    border: 1px solid #98999a;
    font-size: 12px;
    height: 26px;
    display: inline-block;
    width: 45px;
    line-height: 22px;
}
.giftcards-table td, .giftcards-table th {
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #98999a;
}



a, button, input {
    outline: none;
    border: none;
    border-radius: 3px;
    color: #666666;
}

.header-account > ul > li.open > a {
    color: #af5b9a;
}

img {
    max-width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.header-logo a.dark-logo {
    /* display: none; */
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background:#fff;
}
.sticky  .header-logo {
    max-width: 120px;
	-webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}
.header-logo {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.header-account > ul {
}

ul {
    margin: 0px;
    padding: 0px;
}

.header-account > ul > li {
    padding: 30px 0;
    position: relative;
}

li {
    list-style: none;
}

.header-account > ul > li > a {
    display: block;
    color: white;
    line-height: 30px;
    padding: 0 10px;
}

.header-account > ul > li > a i {
    display: block;
    font-size: 36px;
    line-height: 30px;
}


.header-account > ul > li ul {
    border: medium none;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    display: block;
    left: auto;
    margin-top: 30px;
    opacity: 0;
    padding: 15px 0;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    z-index: -99999;
}

.header-account > ul > li ul li a {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 2px 20px;
}
.header-account > ul > li ul li {
}

.header-cart {
    padding: 30px 0;
    position: relative;
}

.header-cart .cart-toggle {
    display: block;
    padding: 0 10px;
    position: relative;
}

.header-cart .cart-toggle i {
    display: block;
    font-size: 36px;
    line-height: 30px;
}

.header-cart a i {
    color: white;
}

.header-cart .cart-toggle span {
    background-color: #8f65a8;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    height: 17px;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 17px;
}

*::before, *::after, a, button, span, input, textarea, .btn {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
}

.mini-cart-brief {
    border: medium none;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    display: block;
    left: auto;
    margin-top: 30px;
    opacity: 0;
    padding: 20px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 320px;
    z-index: -99999;
}


.main-menu > ul {
    display: inline-block;
    vertical-align: top;
}

.main-menu > ul > li {
    display: block;
    float: left;
    margin: 0 15px;
}

.main-menu ul li a {
    color: #000 !important;
    display: block;
    font-weight: 500;
    line-height: 20px;
    padding: 30px 0;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.site-heading {text-align: center;}
.login-container .title-bordered { font-size: 30px;}

@media screen and (max-width: 1024px) and (min-width: 768px) {
.header .header-transparent { padding: 0!important;}
.header-section .header-logo {max-width: 140px!important;}
.header-section .header-left, .header-section .header-right {display: inline-block;width: auto;}
.header-section .header-right .main-menu ul li a {font-size: 16px;}
.in-card .floatnone-center .col-md-3 { width: 50%;text-align: center;}


}

@media(min-width:768px){.toggle{display:none;}
.Immediate-section .w-third-ns img {width: 90%;}
.w-third-ns {width: 33.33333%;float: left;}
.Immediate-section .mw8.center.tc {margin-bottom: 30px;}


}
@media (max-width:767px){
.main-menu{display:none;position: absolute;background: #fff;left:0;right:0;}
.toggle {border: 1px solid #ccc;display: block;margin: auto;padding: 10px; text-align: right;width: 45px; height: 40px; float:right;margin-top: 30px;}
.toggle em {display: block;float: left;font-style: normal; line-height: 37px; }
.toggle .toggle-line{width:22px; height:2px; background:#000;display:block; margin-bottom:5px;transition:all 0.2s}
.header .header-transparent { padding: 0;}
.header-section .header-left {width: 100%!important;}
.header-logo, .toggle {display: inline-block;}
.header-logo {max-width: 160px;}
.main-menu ul li a {padding: 12px 10px;border-bottom: 1px solid #ddd;}
.main-menu > ul > li {width: 100%;text-align: left;margin:0;}
.main-menu:before {content: ""; width: 0;height: 0;border-style: solid;border-width: 0 25px 25px 25px;border-color: transparent transparent #fff transparent;position:absolute;top: -24px;right:12px}

/*banner responsive*/
.home-slider-section .hero-slider-content h1 {font-size: 28px;}
p.near-white.f2-ns.f3.pa3.ma0.lh-title {font-size: 18px!important;}
.floatnone-center {text-align: center;}
.lnk-giftcard .desc {padding-left: 0!important;}
.about-text .about-text-p p {font-size: 14px;text-align: justify;}
.about-text .about-text-p strong {font-size: 16px!important;}

/*footer responsive*/
#shopify-section-footer { padding: 20px;}
.footer-top-section.section.pt-100.ph4 {padding: 0!important;}
#shopify-section-footer .col-xs-12 {width: 100%;padding: 0;}
.Immediate-section .w-third-ns {margin-bottom: 20px;}


	
}

#home-slider {
    height: 470px;
    /* overflow: hidden; */
    background: #fff url('http://sibizportal.com/practice/redeem/assets/site/images/amzn_bg.jpg');
    background-position: center center !important;
}

.cover {
    background-size: cover!important;
}

.tc {
    text-align: center;
}

.pt7 {
    padding-top: 16rem;
}

.hero-slider-content h1 {
    font-size: 35px;
}

h1.white.fw7.ma0.lh-title {
    color: #000;
}

p.near-white.f2-ns.f3.pa3.ma0.lh-title {
    font-size: 21px;
    color: #000;
}

.hero-call-to-action {
	background-image: linear-gradient(to right top, #5795c1, #4182bb, #326eb3, #2e59a9, #35439b);
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 13px;
    padding: 20px 42px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 17px 0 0;
}
.hero-call-to-action:hover {
	background-image: linear-gradient(to right top, #35439b, #2e59a9, #326eb3, #4182bb, #5795c1);
	color:#fff;
}
.footer {
    background:#ddd;
}
.footer-top-section  h4.widget-title::after {
    content: "";
    background: #35439b;
    height: 2px;
    width: 50px;
    display: block;
    margin: 9px 0;
}
.footer-top-section.section.pt-100.ph4 {
    padding: 50px;
}
.footer-middle-section.section, .footer-bottom-section.section.pv5 {
    text-align: left;
}
p.mb2 {
    color: #000;
}
img.mw6.mb4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
/* width: 50%; */
}
#shopify-section-footer .footer-widget .fa {
    padding: 0 5px;
}
h4.widget-title {
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

a.fot-a {
    color: #000;
    text-decoration: none;
    /* font-weight: 600; */
    font-size: 16px;
}

p.widget-p {
    color: #000;
    font-size: 16px;
}

.copyright.ph4 {
    color: #736d6d;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:focus, a:hover {
    color: #337ab7;
    text-decoration: none;
}

/* a.white-logo img {
    height: 80px;
    width: 120px;
    margin-left: 20px;
} */
.in-card {
    width: 100%;
    padding: 25px;
}

h3.site-heading.text-center {
    font-size: 30px;
    font-family: monospace;
}

img.cart-image {
    padding: 20px;
    padding-bottom: 0px;
}

.lnk-giftcard .desc {
    display: block;
    color: #000;
    font-size: 16px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 5px;
}

.lnk-giftcard .desc .light {
    display: block;
    color: #777;
    font-size: 14px;
    width: 100%;
}
.Immediate-section {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
	width:100%;
}

a.tele {
    /* width: 100%; */
    color: #337ab7;
    border: 1px solid;
    padding: 13px;
	margin-top: 20px;
    display: inline-block;
}
a.tele .fa {
    padding: 0 6px;
}

i.fa.fa-telegram.pr {
    padding-right: 5px;
}

.col-md-9.col-lg-9 {
    float: left;
    margin-left: 85px;
}

.lower-card {
    background-image: url(../images/spend-polic.png);
    background-size: cover;
    background-color: #a6c9ec;
	background-position: center center;
    padding: 0 0px 30px;
    margin: 0 0px;
    height: 700px;
}
.container {
    max-width: 970px;
}


.spend-policy-desc {
    position: absolute;
    /* top: 0; */
    padding-top: 30px;
    z-index: 1;
}

.spend-policy-desc h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    font-family: monospace;
    margin: 0;
}

.ml-120 {
    margin-left: 90px;
}
.spend-policy-desc h4 {
    width: 60%;
    font-size: 18px;
    font-weight: 700;
    font-family: monospace;
    line-height: 40px;
    margin-top: 20px;
}

.spend-policy-banner {
    padding: 0;
    margin: 120px auto 30px;
    display: block;
    width: 80%;
}

.site-section {
    background-color: #fff;
    padding: 50px 0;
}

.login-container {
    max-width: 100%;
    width: 480px;
    float: none;
    margin: 0 auto;
}

.title-bordered {
    border-bottom: 1px solid #98999a;
    padding-bottom: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}

label.control-label {
    font-size: 15px;
    font-family: arial;
    color: #543d5a;
    font-weight: 400;
}


label.control-label:after {
    content: '*';
    color: red;
    margin-left: 5px;
}
.btn-success {
    background-color: #337ab7;
    border-color: #81a89e;
    color: #fff;
    width: 100%;
}

.btn-success:hover {
    color: #fff;
    background-color: #31708f;
    border-color: #d9edf7;
}

label.error {
    color: rgba(255, 0, 0, 0.74);
}

p.contact-us {
    margin: 10px 0px 20px 0px;
    font-size: 15px;
    color: #777;
}

h1.title {
    text-align: center;
    font-size: 60px;
  }

.center-content {
    padding: 15px 35px 15px 35px;
    text-align: center;
}

.center-content p {
    font-size: 21px;
}


.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
}

h1.my-account {
    text-align: center;
}

.left-colmn {
    border-right: 1px solid;
}

li.side-li {
    padding-top: 10px;
    padding-bottom: 10px;
}

p.gift-p {
    text-align: center;
    margin-bottom: 15px;
    color: #777;
}

h1.site-heading {
    margin: 0 0 29px;
    font-size: 32px;
}

h2.about-me {
    text-align: center;
    margin-bottom: 15px;
}

.about-text {
    text-align: center;
    margin-top: 17px;
}

p.about-text-p {
    color: #777;
    margin-bottom: 20px;
}

a.join-us {
    border: 1px solid #ccc;
    padding: 12px;
    color: #863c83;
}
.about-text-p {
    margin-bottom: 20px;
    color: #999;
}
a#link-register {
/* border: 1px solid; */
  padding: 4px 8px 4px 8px;
  background: #e05754;
  color: white;
  font-size: 12px;
  border-radius: 5px;
}

@media screen and (max-width:767px) {
 /*home page start*/
.spend-policy-desc h2 {
    font-size: 18px;
    line-height: 27px;
}
.footer-top-section.section.pt-100.ph4 {
    padding: 20;
}
.spend-policy-desc h4 {
    width: 78%;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
}

}
.about-text .about-text-p {
    text-align: left;
}
.about-text .about-text-p strong {
    color: #000;
    font-size: 19px;
}
.about-text .about-text-p p{
    color: #333;
    font-size: 16px;
}

